{% extends 'base.html.twig' %}

{% block title %}produit{% endblock %}

{% block body %}
<div class="card border-light mt-5 mb-3 f-s-4">
  <h3 class="card-header"> {{ produit.titre }} </h3>
  <h4 class="card-title text-center"> {{ produit.taille }} / {{ produit.collection }}</h4>
  
  <div class="text-center">
    <img src="{{ produit.photo }}" alt="" class="img-fluide">
    <h5 class="card-title text-muted"> Couleur : {{ produit.couleur }}</h5>
  </div>
   
    
  <div class="card-body">
  <p class="card-header"> Description : </p>
    <p class="card-text"> {{ produit.description }} </p>
  </div>
  <div class="container">
  <div class="row justify-content-between">
  <div class="card-footer col-3 text-muted text-center">
    (Ecrit le {{ produit.dateenregistrement|date("d/m/Y à H:i:s") }})
  </div>
  <h5 class="card-title col-3"> Prix : {{ produit.prix }} € </h5>
</div></div></div>
{% if app.user %}
<form method="POST" action="{{ path('cart_add', {id: produit.id }) }}" class="form-inline d-inline-block" >
	<input type="number" name="addQuantite" placeholder="quantité ?" class="form-control mr-2" max="{{maxQuantite}}" min="0">
	<button type="submit" class="btn btn-warning" >+ Ajouter au panier</button>
</form>
{% else %}
    <a href="{{path('app_login')}}" class="btn btn-info">se connecter</a>
{% endif %}
{% endblock %}